body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
}
/* header */
header {
    width: 100%;
    height: 43px;
    background:#f6f6f6;
}
header div{
    float: right;
}
header .iconfont{
    font-size: 22px;
    vertical-align: middle;
    color: #ff464e;
    margin-right: 5px;
}
header .badge{
    background: #ff464e;
    margin-left: 5px;
}
header a{
    color: #666666;
}
header ul{
    float: right;
    margin-right: 30px;
}
header ul li #four:hover{
    background: white;
}

header a:hover{
   color: #ff464e;
   text-decoration: none;  
}
header ul #five{
    margin-top: -4px;
}
header ul li #two{
    color: #ff464e;
}
header #last{
    position:relative;
}
header #serveOne{
    position: absolute;
    width: 70px;
    height: 55px;
    margin:5px;
    background: white;
    border: 1px solid #dad4d4;
    z-index: 3;
    line-height: 25px;
    margin: 0 10px;
    border-radius: 5px;
    left: -2px;
    top: 31px;
    display: none;
}
header ul #last #serveOne a{
    margin-left: 6px;
}
header #last:hover #serveOne{
    display: block;
}



/* 卷皮图标 */
#boxOneLogo{
    width:100% ;
    margin:0 auto;
    background: #ffffff;
}
#boxOneLogo span{
    color: white;
}
#boxOne{
    width: 300px;
    height: 61px;
    float: left;
}
#boxOneLogo #boxOne{
    /* background: url(../img/logo1.gif); */
    background: url(../img/indeximg/logo1.gif);
    background-position: -60px -39px;
}
#boxTwo {
    width: 545px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 170px;
    background: url(../img/indeximg/logo1.gif);
    background-position: 55px 7px;
}

#boxOneLogo #small,.form-group{
    display: inline-block;
    margin-left: 300px;
}

#boxOneLogo .form-group{
    float: right;
    width: 200px;
    height: 45px;
    position: absolute;
    top: 67px;
    left: 728px;
}
#boxOneLogo .input-group-addon{
    background: #ff464e;
}

/*导航栏 */
#navBox{
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #ff464e;
}
nav{
    height: 85px;
    width: 100%;
    clear: both;
    background: white;
    margin-left: 20px;
    position: relative;
}
nav li{
    width: 100px;
    height: 47px;
    margin-top: 36px; 
    margin-right: 70px;
    text-align: center;
    font-style: normal;
    display: inline-block;
}
nav a{
    font-size: 18px;
    line-height: 48px;
    color:#333333;
}
nav ul #liOne{
    height: 49px;
    background: #ff464e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
nav ul #liOne a{
    color: aliceblue;    
}
nav ul #liOne:hover a{
    text-decoration: none;   
}
nav .liTwo a:hover{
    color: #ff464e;
    text-decoration: none;
}
nav ul #app3{
    width: 100px;
    height: 100px;
    z-index: 4;
    position: absolute;
    left:700px;
    top:89px;
    display: none;
}
#navBox nav #last1:hover #app3{
  display: block;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
 nav  .iconfont {
    font-family: "iconfont" !important;
    font-size: 26px;
    color: #ff464e;
    vertical-align: middle;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 5px;
  }

  /* 有轮播图的那一部分 */
  #banner{
      width: 99%;
      height: 400px;
      background: #f6f6f6;
  }
  #banner div{
    float: left;
  }
  #banner #left{
      width:250px ;
      height: 380px;
      background: #ffffff;
      margin-left: 20px;
      margin-right: 20px;
  }
  
  #left a{
    width: 89px;
    height: 42px;
    margin: 11px 22px 0px 11px ;
    display: block;
    font-size: 18px;
    color: #666666;
  }
  #left .xian{
    border-bottom: 1px dashed #dad4d4;
  }
  #left #xianno{
    border-bottom: none;
  }
  #left .xian b{
      line-height: 45px;
      color: #dad4d4;
  }
  #left a div{
    width: 27px;
    height: 27px;
    margin-right: 14px;
    background: url(../img/small.png) no-repeat;
}
#left  #one,#three{
    float: left;
}
#left  #two,#four{
    float: right;
}
#left  #one div{
    background-position: 1px 2px;
}
#left  #two div{
    background-position: -21px 2px;
}
#left  #three div{
    background-position: -47.2px 2px;
}
#left  #four div{
    background-position: -70.2px 2px;
}
#left a:hover {
    text-decoration: none;
}
#left a:hover span{
    color: #ff464e;
    text-decoration: none;
}
#left #one:hover div{
    background-position: 2px -22px; 
}
#left #two:hover div{
    background-position: -22.2px -22px;
}
#left #three:hover div{
    background-position: -46.2px -22px;
}
#left #four:hover div{
    background-position: -70.2px -22px;
}
 
  #banner #imgs{
      width: 650px;
      height: 400px;
  }
  #banner #imgs img{
      margin-top: 32px;
      height: 350px;
  }
  /* 控制箭头显示还是影藏 */
  #banner #imgs .carousel-control{
      width: 40px;
      height: 60px;
      background: #666666;
      margin-top: 160px;
      opacity: .4;
      display: none;
  }
  #banner #imgs:hover .carousel-control{
      display: block;
  }
  /* 去掉阴影 */
  #banner #imgs .carousel-control.left {  
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
#banner #imgs .carousel-control.right {
    left: auto;
    right: 0;
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}  

  #banner #right{
      width: 280px;
      height: 400px;
      margin-left:20px;
  }
  #right .rightOne{
      width: 100%;
      height: 340px;
      margin-top: 32px;
      margin-bottom: 32px;
      background: #ffffff;

  }
  .rightOne a:nth-child(2),a:nth-child(4){
      float: right;
      border-right: none;
  }
  #right .rightOne img{
      width: 140px;
      height: 100px;
      display: block;
      border-right: 1px solid #b1a9a9;
      border-bottom:1px solid #b1a9a9;
  }
  #right .rightOne img:hover{
      opacity: .8;
  }
  #right .rightOne #imgslast{
      width: 280px;
      height: 150px;
      border-bottom: none;
      border-right: none;
  }
  .rightOne .imgsTwo{
      margin-top: -100px;
  }
  
  /* 今日品牌 */
  #brandBox{
      width: 100%;
      background:#f6f6f6;
      padding-bottom: 30px;
  }
  #brand{
      margin-left: 20px;
      padding-bottom: 30px;
      background: #ffffff;
  }
  #brand h2{
      font-size: 32px;
      margin-top: 34px;
      float: left;
      margin-left: 25px;
  }
  #brand b{
      font-size:18px ;
      margin-top: 38px;
      margin-left: 21px;
      color: #bbbbbb;
      float: left;
  }
  #brand #both{
      margin-right: 37px;
  }
  #brand a{
      float: right;
      font-size: 19px;
      margin-top: 34px;
      color: #ff464e;
  }
  #brand #active{
    width: 98%;
    display: flex;
	justify-content: space-around;
  }
  .activeone{
      width: 350px;
      text-align: center;
      margin-top: 20px;
      margin-left: 30px;
  }
  .activeTwo{
      width: 100%;
      height: 190px;
      position: relative;
  }
  .activeTwo img{
      width: 100%;
      height: 190px;
      margin-top: -34px;
  }
  .activeTwo .bg{
      width: 100%;
      height: 32px;
      background: black;
      opacity: .4;
      position: absolute;
      bottom: 0px;
  }
  #active .bg img{
      width: 30px;
      height: 30px;
      margin-right: 70px;
      margin-top: 1px;
  }

  #active .bg span{
      color: white;
  }
  .actBottom{
      width: 100%;
      height: 58px;
      background: #f6f6f6;
  }

  .actBottom p{
      font-size: 16px;
      line-height: 58px;
      float: left;
      margin-left: 5px;
  }
  #brand .actBottom a{
      font-size: 16px;
      color: #ff464e;
      line-height: 48px;
      margin-top: 1px;
      margin-right: 5px;
  }
  #brand  .activeone:hover a{
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #ff464e;
}
#brand  .actBottom a{
    width: 67px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
  #aside{
      width: 100%;
      height: 100px;
      background: #ffffff;
  }
  #aside p{
      width: 130px;
      font-size: 17px;
      color:#666666;
      line-height:110px;
      margin-left: 30px;
      float: left;
  }
  #aside #select{
      margin-right: 33px;
  }
  #aside a{
      font-size: 17px;
  }
  #asideOne{
      float: left;
  }
  #aside span{
      text-indent: 36px;
  }
  #asideOne img{
      width: 120px;
      height: 60px;
  }
  #asideOne div{
    float: left;

  }
  #asideOne a{
      float: right;
      line-height: 110px;
      margin-top: -5px;
  }
  
  /* 今日新品 */
#newsBox{
    width: 100%;
    margin-top: -30px;
}
#news{
    width: 1243px;
    background: #ffffff;
    margin-top: 44px;
}
#news #newsTop{
    width: 100%;
    height: 70px;
    margin-left: 30px;
    background: white;
}
#news h2{
    font-size: 32px;
    margin-top: 6px;
    float: left;
    line-height: 70px;
}
#news b{
    font-size:18px ;
    margin-top: 28px;
    margin-left: 21px;
    color: #bbbbbb;
    float: left;
}
#news a{
    float: right;
    font-size: 19px;
    margin-top: 23px;
    color: #666666;
    margin-right:50px;
}
#newsBoxImg{
    width: 99.7%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: white;
}
.newsOne{
    width: 18%;
    height: 270px;
    position: relative;
}
#newsBoxImg img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.newsOne:hover{
    border: 1px solid #bbbbbb;
}
#newsBoxImg .newsOne .aixin{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f9f9f9;
    position: absolute;
    left: 160px;
    top: 20px;
    display: none;    
}
#newsBox .newsOne:hover .aixin {
    display: block;
}
#myshoucang{
    width: 70px;
    height: 30px;
    background: #dad4d4;
    display: none;
    margin-left:-20px;
    margin-top: 43px;
    border: 1px solid #666666;
}
#myshoucang p{
    line-height: 30px;
    text-align: center;
}
#newsBox .newsOne .aixin:hover #myshoucang{
    display: block;
}

.aixin span{
    position: absolute;
    font-size: 24px;
    margin-left: 7px;
    margin-top: 3px;
}
#newsBox .newsOne .money{
    z-index: 2;
    width: 100%;
    height: 70px;
    margin-top: 210px;
}
#newsBox  .money span{
    font-size: 22px;
    color: #ff464e;
    margin-left: 14px;
}
#newsBox  .money em{
    font-size: 20px;
    font-style:normal;
    text-decoration: line-through;
    color: #bbbbbb;
}
#newsBox .money p{
    font-size: 14px;
    margin-left: 15px;
}
#newsBox .money i{
    font-style: normal;
    font-size: 14px;
    margin-top:-28px;
    float: right;
    color: #bbbbbb;
}

#fenye{
    /* width: 100%; */
    height: 40px;
    margin: 0 auto;
    margin-left: 320px;
}
#fenye li{
    font-size: 18px;
    color: #919191;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    float: left;
    width: 60px;
    list-style: none;
    border: 1px solid #bbbbbb;
}
#fenye li:nth-child(1){
    width: 133px;
    color: #bbbbbb;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;

}
#fenye li:nth-child(2){
    color: white;
}
#fenye li:nth-child(7){
    width: 133px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
}
#xuanfu{
    width: 100%;
    height: 50px;
    z-index: 3;
    background: white;
    border-bottom: 1px solid #a2a2a2;
    position: absolute;
    top: 1100px;
    display: none;
}

#xuanfu a{
    float: left;
    margin: 15px;
    color: #666666;
    font-size: 16px;
}
#xuanfu a:nth-child(1){
    color: #ff464e;
}
#xuanfu a:last-child{
    color:green;
}
#xuanfu a:last-child:hover{
    color:green;
}
#xuanfu a:hover{
    color: #ff464e;
    text-decoration: none;
}

/* 底部内容 */
footer{
    width: 100%;
    margin-top: 60px;
}
footer #kong{
    width: 100%;
    height: 30px;
    background: #f9f9f9;
    border-bottom: 3px solid #ff464e;
}
footer #wenzi{
    width: 65%;
    float: left;
    margin-top: 30px;
}
footer #wenzi img{
    float: left;
    margin-left: 100px;
}
footer #wenzi p{
    margin-left: 100px;
    margin-top: 143px;
}
footer #lefts li{
    color: #a2a2a2;
}
#wenzi #lefts{
    float: left;
    width: 577px;
    height: 220px;
    margin-left: 243px;
    margin-top: -173px;
    display: flex;
    justify-content: space-around;
}
#lefts li{
    list-style-type: disc;
    font-size:14px;
}
#lefts b{
    font-size: 16px;
}
footer .leftsOne a{
    font-size: 16px;
    color: #666666;
    line-height: 38px;
}
footer #information{
    width: 35%;
    height: 220px;
    float: right;
    margin-top: 30px;
} 
footer #information img{
    width: 120px;
    height:60px;
    margin-top:40px;
    margin-left: 180px;
}
#information span{
    margin-left: 10px;
    color: #a2a2a2;

}
#information p{
    margin-left: 315px;
    margin-top: -32px;
    color: #a2a2a2;
}
#information b{
    color: #a2a2a2;
    margin-left: 180px;
    font-weight: 100;
}
footer .nav{
    width: 100%;
    height: 24px;
}
footer .nav li{
    float: left;
    margin-right: 30px;
}
footer .nav li a{
    color: #a599a5;
}
footer .nav li:nth-child(1){
    margin-left: 100px;
}
footer .navOne{
    margin-top: 250px;
}
footer .navTwo{
    float: left;
    display: none;
    /* margin-top: -20px; */
}
footer #police{
    width: 100%;
    height: 100px;
    float: left;
    border-top: 1px dashed #a599a5;  
}
footer #police p{
    color: #a79f9f;
    margin-top: 20px;
    line-height: 40px;
    margin-left: 156px;
}
#police  span{
    margin-left: 250px;
}
#police #one{
    margin-left: 330px;
}
#police .two{
    margin-left: 30px;
}
/* 侧边栏 */
#guding{
    width: 33px;
    height: 100%;
    background: #444444;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
}

#gudingOne{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid black;
    position: relative;
} 
#gudingOne #photos{
    width: 33px;
    height: 30px; 
    position: absolute;
    top: 112px;
}
#gudingOne #photo{
    width: 33px;
    height: 30px; 
    background: url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 7px 9px;
}

#gudingOne #photos:hover{
    background: #ff464e;
}
#gudingOne #kuangkuang{
    width: 120px;
    height: 100px;
    background: #dddddd;
    position: absolute;
    left: -170px;
    top: 80px;
    display: none;
}
#gudingOne #kuangkuang p{
    position: absolute;
    top: 40px;
    left: 40px;
    color: #dddddd;
}
#gudingOne img{
   width: 30px;
   height: 30px;
   margin-left: 45px;
   margin-top: 11px;
}
#gudingOne h6 {
    background: #dfc0c2;
    line-height: 24px;
    text-indent: 7px;
    margin-top: 16px;
}
#gudingOne h6 span{
    color: #ff464e;;
}
#gudingTwo{
    width: 100%;
    height: 24%;
    border-bottom: 1px solid black;
}
#gudingTwo div{
    width: 33px;
    height: 88px;
    padding-top: 25px;
    margin-top: 7px;
    background: url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 10px -20px;
}
#gudingTwo span{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 9px;
    background: #ff464e;
    border-radius: 50%;
    color: #dddddd;
    padding-left: 6px;
}

#gudingTwo:hover {
    background: #ff464e;
}
#gudingTwo:hover span{
    color: #ff464e;
    background: white;
}

#gudingThree{
    width: 100%;
    height: 45% ;
}
#gudingThree .addBox{
    width: 33px;
    height: 12%;
    margin-top: 21px;
}
.addBox{
    position: relative;
}

#gudingThree .addBox:hover{
    background: #ff464e;
}
#gudingThree #addOne .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -103px;
}
#gudingThree #addTwo .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -129px;
}
#gudingThree #addThree .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -154px;
}
#gudingThree #addFour .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -200px;
}
#gudingThree #addFive .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -178px;
}
#addFive{
    display: none;
}
#gudingThree .wenziya{
    width: 85px;
    height: 40px;
    display: block;
    background: #333333;
   
    position: absolute;
    left: -150px;
    top: -5px;
}
#gudingThree .wenziya a{
    text-align: center;
    line-height: 35px;
    color: #f6f6f6;
    margin-left: 10px;
}
#gudingThree .wenziya a:hover{
    text-decoration: none;
}
#gudingThree span{
    width: 80px;
    
}
#guding p{
    width: 0;
    height: 0;
    margin-left: 80px;
    border: 13px solid transparent;
    border-left-color: #333333;
}
#gudingThree .addBox img{
    width: 100px;
    height: 100px;

}
#gudingThree #addFour p{
    position: absolute;

    top: 10px;

}
.addBox p{
    position: absolute;
    top: 8px;
}
#gudingThree .addBox .wenziya{
    display: none;
}



