body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
}
body{
    background: #f9f9f9;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
/* 卷皮图标 */
#boxOneLogo{
    width:100% ;
    height: 61px;;
    margin:0 auto;
    background: #ffffff;
    border-bottom: 5px solid #ff464e;
}
#boxOne{
    width: 300px;
    height: 61px;
    float: left;
    margin-left: 62px;
}
#boxOneLogo #boxOne{
    background: url(../img/registerimg/logo1.gif);
    background-position: -60px -210px;
}
#boxTwo {
    width: 545px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 150px;
    background: url(../img/registerimg/logo1.gif);
    background-position: 55px 7px;
}

/* 用户注册 */
#box{
    width: 100%;
}
#boxs{
    width: 88%;
    height: 600px;
    margin: 30px 80px;
    border: 1px solid #d8d5d5;
}
#boxs #top{
    width: 100%;
    height: 94px;
    border-bottom: 1px solid #d8d5d5;
}
#top p{
    font-size: 21px;
    color: #ff464e;
    line-height: 94px;
    text-indent: 56px;
    float: left;
}
#top i{
    font-size: 36px;
    color: #f9f9f9;
    line-height: 94px;
    margin-left: 15px;
}
#top em{
    font-size: 16px;
    color: #666666;
    font-style: initial;
    align-items: center;
    margin-left: 15px;
    line-height: 94px;
}
#top a:nth-child(4){
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
#top a span{
    color: #666666;
}
#top a:hover{
    text-decoration: none;
}

#boxs form {
    width: 60%;
    height: 400px;
    /* background: papayawhip; */
    float: left;
    margin-left: -162px;
}
#register .form-group{
    width:100%;
    height: 40px;
    /* background: pink; */
    margin-top: 30px;
}
#register .form-group .col-sm-2{
    color: #666666;
    font-weight: 500;
    margin-left: 24px;
    line-height: 40px;
}
#register .form-group .form-control{
    width: 260px;
    height: 40px;
    margin-left: 120px;
    margin-top: -45px;
}
#boxs form #yanZhengMa{
    width: 142px;
    height: 40px;
}
#boxs form #wenzizuoyi{
    text-indent: 14px;
}
#huoQu{
    width: 120px;
    height: 40px;
    margin-left: 265px;
    margin-top: -108px;
}
#huoQu:hover{
    color: #ff464e;
}
#boxs form .zhuceya{
    width: 260px;
    height: 40px;
    margin-left: 8px;
    border: #ff464e;
    background: #ff464e;
    color: white;
}
#boxs #imgs{
    width: 40%;
    float: right;
    height: 400px;
    background: white;
} 
#tupian{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px double #cfcbcb;
}
#boxs #imgs #tupian img{
    margin-top: 20px;
}
#imgs p{
    float: left;
    clear: both;
}
.col-sm-10 .form-control+span{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 390px;
    margin-top: -31px;
    background:url(../img/registerimg/error.gif) no-repeat -38px -17px;
}
#boxs #imgs #tubiao{
    margin-right: 290px;
}
#boxs #imgs #tubiao span{
    font-size: 32px;
    margin:8px;
}
#boxs #imgs #tubiao span:hover{
    color: #ff464e;
}
#box h5{
    margin-top: 50px;
    margin-left: 150px;
}
#box h6{
    line-height: 50px;
    font-size: 14px;
    margin-left: 80px;
}
.form-group span{
    width: 120px;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: center;
    text-indent: -275px;
}
.form-group span a:hover{
    text-decoration: none;
}
label{
    color: #666666;
}

#register .form-group .col-sm-10 .message{
    width: 157px;
    height: 18px;
    background: white;
    color: #ff464e;
    font-size: 12px;
    // display: none;
    margin-left: 119px;
    margin-top: 5px;
    #weak,#middle, #strong{
        width: 40px;
        height: 18px;
        float: left;
        text-align: center;
        background: green;
        margin-left:3px; 
    }
    i{
        font-style: inherit;
        text-indent: 0px;
        margin-left: 275px;
        line-height: 18px;
    }
}
.col-sm-10 .message span{
    line-height: 0px;
}
#qiangdu span{
    display: none;
}


