body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
a:hover{
    text-decoration: none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
}
/* header */
header {
    width: 100%;
    height: 43px;
    background:#f6f6f6;
}
header div{
    // float: right;
}
header .iconfont{
    font-size: 22px;
    vertical-align: middle;
    color: #ff464e;
    margin-right: 5px;
}
header .badge{
    background: #ff464e;
    margin-left: 5px;
}
header a{
    color: #666666;
}
header ul{
    float: right;
    margin-right: 30px;
}
header ul li #four:hover{
    background: white;
}

header a:hover{
   color: #ff464e;
   text-decoration: none;  
}
header ul #five{
    margin-top: -4px;
}
header ul li #two{
    color: #ff464e;
}
header #last{
    position:relative;
}
header #serveOne{
    position: absolute;
    width: 70px;
    height: 55px;
    margin:5px;
    background: white;
    border: 1px solid #dad4d4;
    z-index: 3;
    line-height: 25px;
    margin: 0 10px;
    border-radius: 5px;
    left: -2px;
    top: 31px;
    display: none;
}
header ul #last #serveOne a{
    margin-left: 6px;
}
header #last:hover #serveOne{
    display: block;
}


.dropdown .dropdown-menu a{
    color: #ff464e;
}
header .dropdown .dropdown-menu{
    display: none;
}
header .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown .dropdown-menu a:hover{
    color: #ff464e;
    background: #dbb8b9;
}
.dropdown ul{
    min-width: 110px;
    border: 1px solid #ff464e;
    border-radius: 5px;
}


/* 卷皮图标 */
#boxOneLogo{
    width:100% ;
    margin:0 auto;
    background: #ffffff;
}
#boxOneLogo span{
    color: white;
}
#boxOne{
    width: 300px;
    height: 61px;
    float: left;
}
#boxOneLogo #boxOne{
    background: url(../img/indeximg/logo1.gif);
    background-position: -60px -383px;
}
#boxTwo {
    width: 545px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 170px;
    background: url(../img/indeximg/logo1.gif);
    background-position: 55px 7px;
}

#boxOneLogo #small,.form-group{
    display: inline-block;
    margin-left: 300px;
}

#boxOneLogo .form-group{
    float: right;
    width: 200px;
    height: 45px;
    position: absolute;
    top: 61px;
    left: 727px;
}
#boxOneLogo .input-group-addon{
    background: #ff464e;
}
#search{
    background: #e6e1e1;
}

/* 侧边栏 */
#guding{
    width: 33px;
    height: 100%;
    background: #444444;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
}

#gudingOne{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid black;
    position: relative;
} 
#gudingOne #photos{
    width: 33px;
    height: 30px; 
    position: absolute;
    top: 112px;
}
#gudingOne #photo{
    width: 33px;
    height: 30px; 
    background: url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 7px 9px;
}

#gudingOne #photos:hover{
    background: #ff464e;
}
#gudingOne #kuangkuang{
    width: 120px;
    height: 100px;
    background: #dddddd;
    position: absolute;
    left: -170px;
    top: 80px;
    display: none;
}
#gudingOne #kuangkuang p{
    position: absolute;
    top: 40px;
    left: 40px;
    color: #dddddd;
}
#gudingOne img{
   width: 30px;
   height: 30px;
   margin-left: 45px;
   margin-top: 11px;
}
#gudingOne h6 {
    background: #dfc0c2;
    line-height: 24px;
    text-indent: 7px;
    margin-top: 16px;
}
#gudingOne h6 span{
    color: #ff464e;;
}
#gudingTwo{
    width: 100%;
    height: 24%;
    border-bottom: 1px solid black;
}
#gudingTwo div{
    width: 33px;
    height: 88px;
    padding-top: 25px;
    margin-top: 7px;
    background: url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 10px -20px;
}
#gudingTwo span{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 9px;
    background: #ff464e;
    border-radius: 50%;
    color: #dddddd;
    padding-left: 6px;
}

#gudingTwo:hover {
    background: #ff464e;
}
#gudingTwo:hover span{
    color: #ff464e;
    background: white;
}

#gudingThree{
    width: 100%;
    height: 45% ;
}
#gudingThree .addBox{
    width: 33px;
    height: 12%;
    margin-top: 21px;
}
.addBox{
    position: relative;
}

#gudingThree .addBox:hover{
    background: #ff464e;
}
#gudingThree #addOne .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -103px;
}
#gudingThree #addTwo .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -129px;
}
#gudingThree #addThree .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -200px;
}
#gudingThree #addFour .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -154px;
}
#gudingThree #addFive .aixingtu{
    width: 33px;
    height: 30px;
    background:url(../img/indeximg/sidebar.png) no-repeat;
    background-position: 8px -178px;
}
#addFive{
    display: none;
}
#gudingThree .wenziya{
    width: 85px;
    height: 40px;
    display: block;
    background: #333333;
   
    position: absolute;
    left: -150px;
    top: -5px;
}
#gudingThree .wenziya a{
    text-align: center;
    line-height: 35px;
    color: #f6f6f6;
    margin-left: 10px;
}
#gudingThree .wenziya a:hover{
    text-decoration: none;
}
#gudingThree span{
    width: 80px;
    
}
#guding p{
    width: 0;
    height: 0;
    margin-left: 80px;
    border: 13px solid transparent;
    border-left-color: #333333;
}
#gudingThree .addBox img{
    width: 100px;
    height: 100px;

}
#gudingThree #addFour p{
    position: absolute;
    top: 10px;
}
.addBox p{
    position: absolute;
    top: 8px;
}
#gudingThree .addBox .wenziya{
    display: none;
}

#yongHuName{
    color: #ff464e;
}
/*导航栏 */
#navBox{
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #ff464e;
}
nav{
    // height: 85px;
    // width: 100%;
    clear: both;
    background: white;
    margin-left: 20px;
    position: relative;
}
nav li{
    width: 100px;
    height: 47px;
    margin-right: 70px;
    text-align: center;
    font-style: normal;
    display: inline-block;
}
nav a{
    font-size: 15px;
    line-height: 48px;
    color:#666666;
    font-weight: 400;
}

nav .liTwo a:hover{
    color: #ff464e;
    text-decoration: none;
}
nav ul #app3{
    width: 100px;
    height: 100px;
    z-index: 4;
    position: absolute;
    left:700px;
    top:89px;
    display: none;
}
#navBox nav #last1:hover #app3{
  display: block;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
        url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff'),
        url('iconfont.ttf') format('truetype'),
        url('iconfont.svg#iconfont') format('svg');
  }
 nav  .iconfont {
    font-family: "iconfont" !important;
    font-size: 26px;
    color: #ff464e;
    vertical-align: middle;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 5px;
  }

//   商品详情
#information{
    width: 100%;
    height: 538px;
    background: #dddddd;
    display: flex;
    justify-content: space-around;
    #leftImg{
        width: 33%;
        height: 538px;
        margin-left: 30px;
        #jianjie{
            width: 100%;
            height: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            a{
                font-size: 15px;
                color: #444444;
            }
            a:hover{
                color: #ff464e;;
            }
            
        }
        #smallImg{
            width: 16%;
            height: 310px;
            float: left;
            margin-top: 6px;
            display: flex;
            flex-direction: column;
            #small{
                width: 58px;
                height: 58px;
                margin-top: 6px;
                background: powderblue;
            }
        }
        #bigImg{
            width: 81%;
            float: right;
            height: 478px;
            #big{
                width: 330px;
                height: 330px;
                position: relative;
            img{
                    position: absolute;
                    width: 330px;
                    height: 330px;
                }
            }
            #wenzi{
                width:100%;
                height: 50px;
                margin-top: 20px;
                h6{
                    margin-right: 20px;
                    display: inline-block;
                }
                a{
                    margin-right: 20px;
                    display: inline-block;
                    margin-top: 15px;
                }
            }

        }
    }
    #information{
        width: 36%;
        box-sizing: border-box;
        height: 410px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        h4{
            line-height: 30px;
        }
        #mains{
            width: 100%;
            height: 100px;
            background: #d6bebe;
            #left{
                width: 70%;
                height: 100px;
                float: left;
                h3{
                    color: #ff464e;
                    font-size: 32px;
                    span{
                        font-size: 24px;
                    }
                }
                p{
                    margin-left: 120px;
                    font-size: 20px;
                    margin-top: -30px;
                    color: #666666;
                }
                b{
                    line-height: 22px;
                    display: block;
                    font-weight: 500;
                    color: #666;
                    margin-top: 19px;
                    h5{
                        width: 50px;
                        height: 20px;
                        background: orange;
                        margin-left: 50px;
                        margin-top: -20px;
                        text-align: center;
                        line-height: 20px;
                    }
                    h4{
                        font-size: 14px;
                        color: #444444;
                        margin-left: 107px;
                        margin-top: -24px;
                        a{
                            color: #444444;
                            margin-left: 8px;
                        }
                    }
                }
               
            }
            #right{
                width: 30%;
              
                float: right;
                span{
                    margin-top: 20px;
                    display: block;
                }
            }
        }
        #way{
            width: 100%;
            height: 50px;
            border-bottom: 1px dashed #666666;
            h6{
                line-height: 50px;
                select{
                    width: 30px;
                }
            }
            
        }
        #size{
            width: 100%;
            height: 50px;
            div{
                width: 70px;
                height: 30px;
                margin-left: 50px;
                margin-top: -40px;
                text-align: center;
                line-height: 30px;
                border: 1px solid #ff464e;
            }
            h6{
                line-height: 50px;
            }
        }
        #num{
            width: 100%;
            height: 50px;
            h6{
                line-height: 50px;
            }
            #inputs{
                margin-left: 51px;
                margin-top: -39px;
                input:nth-child(1),input:nth-child(3){
                    width: 20px;
                }
                input:nth-child(2){
                    width: 40px;
                    text-align: center;
                }
            }
        }
        #shopping{
            width: 100%;
            height: 70px;
            #buy{
                width: 150px;
                height: 50px;
                margin-left: 40px; 
                float: left;
                border: 2px solid #ff464e;
                background: #ebd9da;
                color: #ff464e;
                a{
                    color: #ff464e;
                 }
            }
            #buy:hover{
                background: white;
            }
            #buyTwo{
                width: 150px;
                height: 50px;
                border: 2px solid #ff464e;
                background: #ff464e;
                float: right;
                margin-right: 40px;
                a{
                    color: #ffffff;

                }
            }
            #buyTwo:hover{
                background: red;
            }
            a{
                text-align: center;
                margin-left: 30px;
                line-height: 50px;
                font-size: 20px;
            }

            }
        }
    }
    #shengShi{
        width: 300px;
        height: 200px;
        background: #dad4d4;
        border: 1px solid #9c9c9c;
        margin-top: -15px;
        display: none;
        li{
            width: 25%;
            height: 24px;
            float: left;
            color: rgb(62, 62, 100);
        }
    }
    #shop{
        width: 24%;
        height: 480px;
        position: relative;
        border: 1px solid #666666;
        margin-top: 30px;
        #shoppingName{
            width: 150px;
            height: 150px;
            position: absolute;
            margin:30px 70px;
            img{
                margin-left: 50px;
                border: 1px solid #666666;
            }
            h5{
                font-size: 18px;
                margin-left: 30px;
                margin-top: 20px;
            }
            p{
                margin-left: 45px;
                line-height: 36px;
                color: #9c9c9c;
            }
        }
        #xinxi{
            width: 70%;
            // height: 100px;
            border-top: 1px dashed #9c9c9c;
            margin-top: 200px ;
            margin-left: 40px;
            li{
                margin-top: 20px;
            }
            img{
                width: 20px;
                height: 20px;
            }
            span{
                margin-left: 10px;   
            }
            #last{
                padding-top: 20px;
                border-top: 1px dashed #9c9c9c;
            }

        }
    }
    #information #information #way h6 select {
        width: 60px;
    }
    #information #information #way h6 select option{
        width: 0px;
        height: 0px;
    }
// 又是一个导航栏
#shiNav{
    width: 72%;
    height: 250px;
    margin-left: 30px;
    ul{
        border-top: 2px solid #9c9c9c;
        border-bottom: 2px solid #9c9c9c;
        li{
            width: 128px;
            height: 60px;
            background: #fdf9f9;
            float: left;
            border-left: 2px solid #9c9c9c;
            a{
                display: block;
                color: #333333;
                line-height: 60px;
                text-align: center;
            }
            a:hover{
                color: #ff464e;
            }
        }
    }
    #weizi{
        margin-top: 50px;
        margin-bottom: 50px;
        float: left;
        font-size: 24px;
        span{
            color: #ff464e;
            margin-bottom: 30px;
            display: inline-block;
        }
        h1{
            width: 730px;
            margin-left: 159px;
            margin-top: -14px;
            height: 2px;
            background: #333333;
        }
        #imgs{
            margin-top: 30px;
            margin-left: 60px;
        }
        table{
            margin-top: 50px;
            td{
                width: 250px;
                height: 40px;
                font-size: 15px;
                text-align: center;
                color: #666666;
                border-color: #9c9c9c;
            }
        }
        #wuliu{
            font-size: 13px;
            margin-left: 100px;
            line-height: 30px;
            p:nth-child(1){
                margin-top: 30px;
            }
            img{
                width: 100%;
                margin-top: 30px;
            }
        }
        #top{
            width: 90%;
            height: 100px;
            margin-top: 30px;
            margin-left: 100px;
            #smallImgOne{
                width: 100px;
                height: 100px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: 20px 6px;
            }
            #smallImgOne:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: 20px -93px;
            }
            #smallImgTwo{
                width: 100px;
                height: 100px;
                margin-top: -100px;
                margin-left: 120px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -91px 6px;
            }
            #smallImgTwo:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -91px -93px;
            }
            #smallImgThree{
                width: 100px;
                height: 100px;
                margin-top: -100px;
                margin-left: 240px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -211px 6px;
            }
            #smallImgThree:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -211px -93px;
            }
            #smallImgFour{
                width: 100px;
                height: 100px;
                margin-top: -100px;
                margin-left: 360px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -322px 6px;
            }
            #smallImgFour:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -322px -93px;
            }
            #smallImgFive{
                width: 100px;
                height: 100px;
                margin-top: -100px;
                margin-left: 480px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -433px 6px;
            }
            #smallImgFive:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -433px -93px;
            }
            #smallImgSix{
                width: 100px;
                height: 100px;
                margin-top: -100px;
                margin-left: 600px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -553px 6px;
            }
            #smallImgSix:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -553px -93px;
            }
            #smallImgSeven{
                width: 100px;
                height: 100px;
                margin-top: -100px;
                margin-left: 720px;
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -666px 6px;
            }
            #smallImgSeven:hover{
                background: url(../img/shoppingInformationimg/gg7.gif) no-repeat;
                background-position: -666px -93px;
            }
            

        }
        
    }
   
}
#shiNav li:nth-child(6),li:nth-child(7){
    border-left: none;
}
#shiNav li:last-child{
    border-right: 2px solid #9c9c9c;
}
#rightss{
    width: 25%;
    float: right;
    margin-top: -6721px;
    border: 1px solid #b3abab;
    #shiZhuchang{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: #fdf9f9;
        border-bottom: 1px solid #b3abab;
    }
    #shangPing{
            #one{
            width: 100%;
            img{
                float: left;
                margin-left: 20px;
                margin-top: 20px;
            }
            #XinxiYa{
                width: 214px;
                height: 60px;
                margin-top: 20px;
                float: right;
                a{
                    color: #333333;
                }
                span{
                    color: #ff464e;
                    font-size: 17px;
                }
                b{
                    color: #333333;
                    margin-left: 10px;
                    font-weight: 500;
                    text-decoration: line-through;
                }
            }
        }
    }
}
#juLiTop{
    margin-top: 50px;
}
/* 底部内容 */
footer{
    width: 100%;
    background: #b3abab;
    margin-top: 60px;
}
footer #kong{
    width: 100%;
    height: 30px;
    background: #f9f9f9;
}
footer #wenzi{
    width: 65%;
    float: left;
    margin-top: 30px;
}
footer #wenzi img{
    float: left;
    margin-left: 100px;
}
footer #wenzi p{
    margin-left: 100px;
    margin-top: 143px;
}
footer #lefts li{
    color: #a2a2a2;
}
#wenzi #lefts{
    float: left;
    width: 577px;
    height: 220px;
    margin-left: 243px;
    margin-top: -173px;
    display: flex;
    justify-content: space-around;
}
#lefts li{
    list-style-type: disc;
    font-size:14px;
}
#lefts b{
    font-size: 16px;
}
footer .leftsOne a{
    font-size: 16px;
    color: #666666;
    line-height: 38px;
}
footer #informationss{
    width: 35%;
    height: 220px;
    float: right;
    margin-top: 30px;
} 
footer #informationss img{
    width: 120px;
    height:60px;
    margin-top:40px;
    margin-left: 180px;
}
#informationss span{
    margin-left: 10px;
    color: #a2a2a2;

}
#informationss p{
    margin-left: 315px;
    margin-top: -32px;
    color: #a2a2a2;
}
#informationss b{
    color: #a2a2a2;
    margin-left: 180px;
    font-weight: 100;
}
#xuanfu{
    display: none;
    span{
        font-size: 26px;
    }
}
#shiNav #xuanfu li:nth-child(6){
    font-size: 22px;
    color: #ff464e;
}
#shiNav #xuanfu li:last-child{
    background: #ff464e;
    color: white;
    font-size: 22px;
}
#shiNav #xuanfu li:last-child:hover{
    background: red;
    color: white;
}
#yuanXian {
    position: relative;
}
#yuanXian li{
    border-bottom: none;
}
#yuanXian li:nth-child(1){
    border-bottom: 3px solid red;
}
#yuanXian #erweima{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 768px;
    top: 63px;
    z-index: 1;
    display: none;
}
#yuanXian #phone:hover #erweima{
    display: block;
}
#xuanfu img{
    width: 145px;
    height: 145px;
    position: absolute;
    left: 500px;
    top: 63px;
    display: none;    
}
#xuanfu #phone:hover #phoneImg{
    display: block;
}
